<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ title }}</title>

    <script src="//api.dedipass.com/v1/pay.js"></script>
</head>
<body>
    <h1>Lunaria - Boutique</h1>

    <p>Boutique</p>
    <div data-dedipass="631f4893d642b6b2dabf12dd15092d72" data-dedipass-custom=""></div>
</body>
</html>