<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{ title }}</title>
</head>
<body>
<h1>Lunaria - Boutique</h1>

<form method="post">
    <input name="username" placeholder="Pseudonyme">
    <input type="submit" value="Se connecter">
</form>
</body>
</html>